<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
   https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--1為正式版， 0為測試版-->
    <add key="EnvFlag" value="0" />
    <!--直接帶入登入資訊， 1為開啟這個功能，0為關閉這個功能-->
    <add key="DefaultLogin" value="1" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.7.2" debug="true" />
    <httpRuntime targetFramework="4.7.2" />
    <machineKey decryption="AES" decryptionKey="8E9568384B0EA6F66E83FF45B387CCE9A4BC746AA66D75BD" validationKey="27046E874B7633EF90286757BA45882EAF13A4B1AC36BFAB3746297E4E483BE22C45924FA8317ACFAA41D2704F29C9484E7649C7A38C44A59539307AF4D7B1E5" />
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="/Admin/Account/Login" protection="All" path="/" />
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="MESConnection" 
		 connectionString="data source=TNCIMDB01;initial catalog=MES;User ID=TNCIMDB01USER01;Password=Gd@16406379;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="MES_DEVConnection" 
		 connectionString="data source=TNCIMDEV01;initial catalog=MES_DEV;User ID=TNCIMDEVUSER01;Password=Gd@16406379;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="RMSConnection" 
		 connectionString="data source=TNCIMDB01;initial catalog=RMS;User ID=RMS_APPROD;Password=RMS@16406379;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	<add name="RMS_DEVConnection" 
		 connectionString="data source=TNCIMDEV01;initial catalog=RMS;User ID=TNCIMDEVUSER01;Password=Gd@16406379;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="6129Connection" 
		 connectionString="Data Source=192.168.61.29;Initial Catalog=MESDB;User ID=MESDB;Password=Gd@MESDB;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>